/***
Bootstrap4 Card with Tabs by @mdeuerlein
***/

.card {
  background-color: #ffffff;
  border: 1px solid rgba(0, 34, 51, 0.1);
  box-shadow: 2px 4px 10px 0 rgba(0, 34, 51, 0.05),
    2px 4px 10px 0 rgba(0, 34, 51, 0.3);
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.ddLabel {
  font-weight: bolder;
  font-size: 18px;
}

.ddValue {
  font-weight: bolder;
  font-size: 18px;
}
.col {
  padding-right: 0px;
  padding-left: 0px;
}
.main-grid-row {
}
.card1 .card-header {
  background-color: #d7594f;
}

.card2 .card-header {
  background-color: #7e3c2c;
}
.card3 .card-header {
  background-color: #dee97a;
}
.card4 .card-header {
  color: #0d0e0d;
  background-color: #769c4967;
}

.card5 .card-header {
  background-color: #f52626f3;
}
.card6 .card-header {
  background-color: #a5a3bd;
}
.card1 {
  box-shadow: 2px 4px 10px 0 #d7594f, 2px 4px 10px 0 #d7594f;
}

.card2 {
  box-shadow: 2px 4px 10px 0 #7e3c2c, 2px 4px 10px 0 #7e3c2c;
}
.card3 {
  box-shadow: 2px 4px 10px 0 #dee97a, 2px 4px 10px 0 #dee97a;
}

/* Tabs Card */

.tab-card {
  border: 1px solid #eee;
}

.tab-card-header {
  background: none;
}
/* Default mode */
.tab-card-header > .nav-tabs {
  border: none;
  margin: 0px;
}
.tab-card-header > .nav-tabs > li {
  margin-right: 2px;
}
.tab-card-header > .nav-tabs > li > a {
  border: 0;
  border-bottom: 2px solid transparent;
  margin-right: 0;
  color: #737373;
  padding: 2px 15px;
}

.tab-card-header > .nav-tabs > li > a.show {
  border-bottom: 2px solid #007bff;
  color: #007bff;
}
.tab-card-header > .nav-tabs > li > a:hover {
  color: #007bff;
}

.tab-card-header > .tab-content {
  padding-bottom: 0;
}

/***prettyline**/
.prettyline {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(
    left,
    #c4e17f,
    #c4e17f 12.5%,
    #f7fdca 12.5%,
    #f7fdca 25%,
    #fecf71 25%,
    #fecf71 37.5%,
    #f0776c 37.5%,
    #f0776c 50%,
    #db9dbe 50%,
    #db9dbe 62.5%,
    #c49cde 62.5%,
    #c49cde 75%,
    #669ae1 75%,
    #669ae1 87.5%,
    #62c2e4 87.5%,
    #62c2e4
  );
  background-image: -moz-linear-gradient(
    left,
    #c4e17f,
    #c4e17f 12.5%,
    #f7fdca 12.5%,
    #f7fdca 25%,
    #fecf71 25%,
    #fecf71 37.5%,
    #f0776c 37.5%,
    #f0776c 50%,
    #db9dbe 50%,
    #db9dbe 62.5%,
    #c49cde 62.5%,
    #c49cde 75%,
    #669ae1 75%,
    #669ae1 87.5%,
    #62c2e4 87.5%,
    #62c2e4
  );
  background-image: -o-linear-gradient(
    left,
    #c4e17f,
    #c4e17f 12.5%,
    #f7fdca 12.5%,
    #f7fdca 25%,
    #fecf71 25%,
    #fecf71 37.5%,
    #f0776c 37.5%,
    #f0776c 50%,
    #db9dbe 50%,
    #db9dbe 62.5%,
    #c49cde 62.5%,
    #c49cde 75%,
    #669ae1 75%,
    #669ae1 87.5%,
    #62c2e4 87.5%,
    #62c2e4
  );
  background-image: linear-gradient(
    to right,
    #c4e17f,
    #c4e17f 12.5%,
    #f7fdca 12.5%,
    #f7fdca 25%,
    #fecf71 25%,
    #fecf71 37.5%,
    #f0776c 37.5%,
    #f0776c 50%,
    #db9dbe 50%,
    #db9dbe 62.5%,
    #c49cde 62.5%,
    #c49cde 75%,
    #669ae1 75%,
    #669ae1 87.5%,
    #62c2e4 87.5%,
    #62c2e4
  );
}
#about {
  padding: 5px;
}
