body {
  background: #fff;
}
.topMainstrip {
  background-color: #eaff2e;
}
.topstrip {
  background: #fff;
}
.navbar {
  background-color: #eaff2e;
}

#nav-content > .navbar-nav > .nav-item > .nav-link {
  color: rgb(90, 85, 85);
}

#nav-content > .navbar-nav > .nav-item > .nav-link:hover {
  color: rgb(73, 72, 72);
  background-color: #ebff339494;
}

.navbar-toggler {
  border-color: white;
  background-color: white;
}
.text {
  color: #fff;
}
.hdtitle {
  background: #d3fd17;
  color: #fff;
}
.defaultcolor {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #fff;
}

.logotext {
  color: #42413c;
}
a {
  color: #002040;
}
.headerlft {
  color: rgb(105, 61, 61);
}

.rightborder {
  color: rgb(156, 91, 91);
}

.rightborder a {
  color: rgb(95, 72, 72);
}
.topstripbar {
  background: #fff;
}
.topMainstrip-one {
  color: rgb(51, 43, 43);
}
.topMainstrpleft {
  color: rgb(26, 23, 23);
}

.card-header {
  background-color: #d6e64e;
  color: rgb(173, 41, 41);
}
