<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="home.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <identity impersonate="false"/>
    <authentication mode="Forms"/>
    <compilation debug="true"/>
  </system.web>
</configuration>