<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="home.aspx" />
      </files>
    </defaultDocument>
       <security>
            <authentication>
                <basicAuthentication enabled="false" />
                <windowsAuthentication enabled="false" />
                <anonymousAuthentication enabled="true" userName="" />
            </authentication>
        </security>
  </system.webServer>
  <system.web>
    <identity impersonate="false" />
    <!--testonf-->
    <compilation debug="true" />
  </system.web>
</configuration>